---
name: Build and deploy new EE

on:
  workflow_call:
    inputs:
      quay_username:
        description: "username/namespace to upload the EE to"
        required: true
        type: string
    secrets:
      quay_token:
        description: token for quay
        required: true

jobs:
  build_ee:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout tooling repo
        uses: actions/checkout@v4
        with:
          repository: redhat-cop/ansible_collections_tooling

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install podman
        run: sudo apt -y install podman

      - name: Install Ansible and Ansible Builder
        run: pip install --upgrade setuptools ansible-core ansible-builder

      - name: Move ansible.cfg to root
        run: mv .github/files/ansible.cfg .

      - name: Install Dependencies
        run: ansible-galaxy collection install containers.podman -f

      - name: podman login
        run: podman login quay.io --username redhat_cop+github_action --password ${{ secrets.quay_token }}

      - name: Build EE
        # run: ansible-playbook .github/deploy_ee/build_ee.yml -i .github/deploy_ee/inventory_ci.yml -l dev -e "ee_registry_username=${{ inputs.quay_username }}+github_action" -e "ee_registry_password=${{ secrets.quay_token }}" --connection=local -e "ee_registry_dest=quay.io/${{ inputs.quay_username }}/config_as_code_ee" -vvv
        run: ansible-playbook .github/deploy_ee/build_ee.yml -e "ee_registry_username=${{ inputs.quay_username }}+github_action" -e "ee_registry_password=${{ secrets.quay_token }}" --connection=local -e "ee_registry_dest=quay.io/${{ inputs.quay_username }}/config_as_code_ee" -vvv
        env:
          ANSIBLE_HOST_KEY_CHECKING: false
...
