---
# This workflow action will run pre-commit, which will execute ansible and yaml linting
# See .pre-commit-config.yaml for what hooks are executed
name: pre-commit tests


on:
  workflow_call:
    inputs:
      collection_namespace:
        description: "Install collection python dependencies"
        required: true
        type: string
      collection_name:
        description: "Path to the collection source"
        required: true
        type: string
      collection_version:
        description: The final collection path
        required: false
        type: string
      collection_repo:
        description: The collection url
        required: false
        type: string
      collection_dependencies:
        description: The collection dependencies (as a space separated list)
        required: false
        type: string

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Ansible
        run: pip install --upgrade "ansible-core>=2.15,<2.19" pyyaml==6.0.1
      - name: Build and install the collection
        uses: redhat-cop/ansible_collections_tooling/actions/build_ansible_collection@main
        with:
          collection_namespace: ${{ inputs.collection_namespace }}
          collection_name: ${{ inputs.collection_name }}
          collection_version: ${{ inputs.collection_version }}
          collection_repo: ${{ inputs.collection_repo }}
      - name: Install collection dependencies
        run: ansible-galaxy collection install ${{ inputs.collection_dependencies }}
        if: inputs.collection_dependencies
      - uses: pre-commit/action@v3.0.1
...
