---
# This workflow action will run pre-commit, which will execute ansible and yaml linting
# See .pre-commit-config.yaml for what hooks are executed
name: Release

on:
  workflow_call:
    inputs:
      collection_namespace:
        description: First namespace to push to as in 'infra'
        required: true
        type: string
      collection_namespace_2:
        description: Second namespace like redhat_cop
        required: true
        type: string
      collection_name:
        description: "Path to the collection source"
        required: true
        type: string
      collection_version:
        description: The final collection path
        required: false
        type: string
      collection_repo:
        description: The collection url
        required: false
        type: string
    secrets:
      galaxy_api_key:
        description: API key for galaxy
        required: true
      infra_api_key:
        description: API key for galaxy
        required: true
      token:
        description: token for uploading tarballs to a release
        required: true

jobs:
  pre-commit:
    uses: redhat-cop/ansible_collections_tooling/.github/workflows/pre-commit.yml@main
  sanity:
    uses: redhat-cop/ansible_collections_tooling/.github/workflows/sanity.yml@main
    with:
      collection_namespace: ${{ inputs.collection_namespace }}
      collection_name: ${{ inputs.collection_name }}
      collection_version: ${{ inputs.collection_version }}
      collection_repo: ${{ inputs.collection_repo }}
  prechecks:
    needs:
      - pre-commit
      - sanity
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.pre-commit.result }}',
          '${{ needs.sanity.result }}',
          ]) == {'success'}"
  cop_release:
    needs:
      - prechecks
    uses: redhat-cop/ansible_collections_tooling/.github/workflows/release.yml@main
    with:
      collection_namespace: ${{ inputs.collection_namespace }}
      collection_name: ${{ inputs.collection_name }}
      collection_version: ${{ inputs.collection_version }}
      collection_repo: ${{ inputs.collection_repo }}
    secrets:
      api_key: ${{ secrets.galaxy_api_key }}
      token: ${{ secrets.token }}
  infra_release:
    needs:
      - cop_release
    uses: redhat-cop/ansible_collections_tooling/.github/workflows/release.yml@main
    with:
      collection_namespace: ${{ inputs.collection_namespace_2 }}
      collection_name: ${{ inputs.collection_name }}
      collection_version: ${{ inputs.collection_version }}
      collection_repo: ${{ inputs.collection_repo }}
    secrets:
      api_key: ${{ secrets.infra_api_key }}
      token: ${{ secrets.token }}
  release_check:
    needs:
      - cop_release
      - infra_release
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.infra_release.result }}',
          '${{ needs.cop_release.result }}',
          ]) == {'success'}"
  changelog:
    needs:
      - release_check
    uses: redhat-cop/ansible_collections_tooling/.github/workflows/create_changelog.yml@main
    with:
      collection_namespace: ${{ inputs.collection_namespace_2 }}
      collection_name: ${{ inputs.collection_name }}
      collection_version: ${{ inputs.collection_version }}
      collection_repo: ${{ inputs.collection_repo }}
    secrets:
      token: ${{ secrets.token }}
...
