---
# This workflow action will run pre-commit, which will execute ansible and yaml linting
# See .pre-commit-config.yaml for what hooks are executed
name: Release Collection

on:
  workflow_call:
    inputs:
      collection_namespace:
        description: "Install collection python dependencies"
        required: true
        type: string
      collection_name:
        description: "Path to the collection source"
        required: true
        type: string
      collection_version:
        description: The final collection path
        required: false
        type: string
      collection_repo:
        description: The collection url
        required: false
        type: string
    secrets:
      api_key:
        description: API key for galaxy
        required: true
      token:
        description: token for uploading tarballs to a release
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: pip install --upgrade ansible-core

      - name: Build and install the collection
        id: build
        uses: sean-m-sullivan/infra_git_ci_cd/actions/build_ansible_collection@main
        with:
          collection_namespace: ${{ inputs.collection_namespace }}
          collection_name: ${{ inputs.collection_name }}
          collection_version: ${{ inputs.collection_version }}
          collection_repo: ${{ inputs.collection_repo }}

      - name: Publish to galaxy
        run: ansible-galaxy collection publish --api-key=${{ secrets.api_key }} ${{ steps.build.outputs.tar_file }}

      - name: Upload files to tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.token }}
          file: ${{ steps.build.outputs.tar_file }}
          tag: ${{ github.ref }}
          overwrite: true
...
